<!--The content below is only a placeholder and can be replaced.-->

<div class="NavBar">
        <div class="front">
                
            <input type="search" placeholder="Search movies" name="search">
            <button name="serach" type="button"><i class="fa fa-search"></i></button>
           </div>
        <a href='#'>
            <div class='logo'>
                    MOVIE<span class='thi'>TO</span><br><span class='bol'>WATCH</span>
            </div>
        </a>
        <div class="NavBarCon">
            <ul class='ham'>
                <li class='menu-hamburger'><a>HAM</a></li>
            </ul>
            <ul class='items'>
                <li class='menu-item'><a>Home</a></li>
                <li class='menu-item dropdown'><a>Genre</a>
                    <div class='DropDownCon'>
                        <a> Action </a>
                        <a> Comedy </a>
                        <a> Love Story </a>
                        <a> Thriller </a>
                    </div>
                </li>
                <li class='menu-item dropdown'><a>Year</a>
                    <div class='DropDownCon'>
                        <a> 2014 </a>
                        <a> 2015 </a>
                        <a> 2016</a>
                        <a> 2017 </a>
                    </div>
                </li>
                <li class='menu-item'><a>Random</a></li>
            </ul>
        </div>
        <ul class='hamburger-items'>
            <li class='menu-item'><a>Home</a></li>
            <li class='menu-item dropdown'><a>Genre</a>
                    <div class='DropDownCon'>
                <a> Action </a>
                <a> Comedy </a>
                <a> Love Story </a>
                <a> Thriller </a>
                    </div>
                </li>
            <li class='menu-item dropdown'><a>Year</a>
                <div class='DropDownCon'>
                        <a> 2014 </a>
                        <a> 2015 </a>
                        <a> 2016</a>
                        <a> 2017 </a>
                    </div>
            </li>
            <li class='menu-item'><a>Random</a></li>
        </ul>
    </div>
    <router-outlet></router-outlet>
