
<section class='sec1'>
	<h1> A PLACE TO DISCOVER MOVIES </h1>
	<div class='IndexCon'>
		
		<div class='SideBlock Part1'>
			
				<a routerLink="details">
			<div class='movie'>
				<h3>{{moviesTitle}}</h3>
				<div class='overlay'></div>
				<img src={{moviesImg}}>
			</div>
			</a>
			<div class='movie'>
				<h3>The Shack</h3>
				<div class='overlay'></div>
				<img src='https://images-na.ssl-images-amazon.com/images/M/MV5BMjI3MDMxNzcxNl5BMl5BanBnXkFtZTgwODc4MzkwOTE@._V1_SY1000_CR0,0,647,1000_AL_.jpg'>
			</div>
			<div class='movie'>
				<h3>Before I Fall</h3>
				<div class='overlay'></div>
				<img src='https://images-na.ssl-images-amazon.com/images/M/MV5BNDYwOTY0MDI2OV5BMl5BanBnXkFtZTgwOTE5NzM2MDI@._V1_SY1000_SX675_AL_.jpg'>
			</div>
			<div class='movie'>
				<h3>The Last Word</h3>
				<div class='overlay'></div>
				<img src='https://images-na.ssl-images-amazon.com/images/M/MV5BMTQ4Mzc1MzY5OV5BMl5BanBnXkFtZTgwNzU0NzE4MDI@._V1_SY1000_SX675_AL_.jpg'>
			</div>
		</div>
		<div class='MainBlock'>
			<div class='movie'>
				<h3>The Last Word</h3>
				<div class='overlay'></div>
				<img src='https://images-na.ssl-images-amazon.com/images/M/MV5BNmYzYzgyMjgtZTYzMy00ZDI0LTk4OGMtN2RmYTkzYjg5YTkzL2ltYWdlXkEyXkFqcGdeQXVyNDg2MjUxNjM@._V1_SY1000_SX1500_AL_.jpg'>
			</div>
			<div class='movie'>
				<h3>Before I Fall</h3>
				<div class='overlay'></div>
				<img src='https://images-na.ssl-images-amazon.com/images/M/MV5BZmM1ODlkYmYtMTlkNC00NjM2LTk4YTctNDcyZmIxYTEzODVmL2ltYWdlXkEyXkFqcGdeQXVyNDg2MjUxNjM@._V1_SY1000_CR0,0,1500,1000_AL_.jpg'>
			</div>
		</div>
		<div class='SideBlock Part2'>
			<div class='movie'>
				<h3>Junction 48</h3>
				<div class='overlay'></div>
				<img src='https://images-na.ssl-images-amazon.com/images/M/MV5BMjM1OTIyMDMxOF5BMl5BanBnXkFtZTgwMDEyNzc0MTI@._V1_UX182_CR0,0,182,268_AL_.jpg'>
			</div>
			<div class='movie'>
				<h3>Catfight</h3>
				<div class='overlay'></div>
				<img src='https://images-na.ssl-images-amazon.com/images/M/MV5BNTM4Nzg2MTI1NV5BMl5BanBnXkFtZTgwNjIwODcyMTI@._V1_UX182_CR0,0,182,268_AL_.jpg'>
			</div>
			<div class='movie'>
				<h3>Donald Cried</h3>
				<div class='overlay'></div>
				<img src='https://images-na.ssl-images-amazon.com/images/M/MV5BMTUyNjU2MzMzMl5BMl5BanBnXkFtZTgwNTUwNTcxMTI@._V1_UX182_CR0,0,182,268_AL_.jpg'>
			</div>
			<div class='movie'>
				<h3>Wolves</h3>
				<div class='overlay'></div>
				<img src='https://images-na.ssl-images-amazon.com/images/M/MV5BOGIzNDVhMGItZDZmMi00NzZjLWE2MGMtZGU0MmNiNzE5MDhhXkEyXkFqcGdeQXVyNTIyODMzMzA@._V1_UX182_CR0,0,182,268_AL_.jpg'>
			</div>
		</div>
	</div>
</section>
<section class='sec2'>
	<h1> NOW IN THEATHER </h1>
	<div class='IndexCon'>
		<div class='PartL'>
			<div class='inTh'>
				<h2>The Guardian</h2>
				<img src='http://uploads.webflow.com/593be96de7578568cb17bef7/593f072887e86029a33ab407_424916044_poster.jpg'> <p>Ben Randall is a Coast Guard rescue swimmer. When his crew is killed in an accident and his marriage ends, his commander tells him he wants Randall to...</p>
			</div>
			<div class='inTh'><h2>The Guardian</h2>
				<img src='http://uploads.webflow.com/593be96de7578568cb17bef7/593f072887e86029a33ab407_424916044_poster.jpg'> <p>Ben Randall is a Coast Guard rescue swimmer. When his crew is killed in an accident and his marriage ends, his commander tells him he wants Randall to...</p>
			</div>
<div class='inTh'><h2>The Guardian</h2>
				<img src='http://uploads.webflow.com/593be96de7578568cb17bef7/593f072887e86029a33ab407_424916044_poster.jpg'> <p>Ben Randall is a Coast Guard rescue swimmer. When his crew is killed in an accident and his marriage ends, his commander tells him he wants Randall to...</p>
			</div>
			<div class='inTh'><h2>The Guardian</h2>
				<img src='http://uploads.webflow.com/593be96de7578568cb17bef7/593f072887e86029a33ab407_424916044_poster.jpg'> <p>Ben Randall is a Coast Guard rescue swimmer. When his crew is killed in an accident and his marriage ends, his commander tells him he wants Randall to...</p>
			</div>
		</div>
		<div class='line'></div>
		<div class='PartR'>
			<div class='inTh'><h2>The Guardian</h2>
				<img src='http://uploads.webflow.com/593be96de7578568cb17bef7/593f072887e86029a33ab407_424916044_poster.jpg'> <p>Ben Randall is a Coast Guard rescue swimmer. When his crew is killed in an accident and his marriage ends, his commander tells him he wants Randall to...</p>
			</div>
			<div class='inTh'><h2>The Guardian</h2>
				<img src='http://uploads.webflow.com/593be96de7578568cb17bef7/593f072887e86029a33ab407_424916044_poster.jpg'> <p>Ben Randall is a Coast Guard rescue swimmer. When his crew is killed in an accident and his marriage ends, his commander tells him he wants Randall to...</p>
			</div>
			<div class='inTh'><h2>The Guardian</h2>
				<img src='http://uploads.webflow.com/593be96de7578568cb17bef7/593f072887e86029a33ab407_424916044_poster.jpg'> <p>Ben Randall is a Coast Guard rescue swimmer. When his crew is killed in an accident and his marriage ends, his commander tells him he wants Randall to...</p>
			</div>
			<div class='inTh'><h2>The Guardian</h2>
				<img src='http://uploads.webflow.com/593be96de7578568cb17bef7/593f072887e86029a33ab407_424916044_poster.jpg'> <p>Ben Randall is a Coast Guard rescue swimmer. When his crew is killed in an accident and his marriage ends, his commander tells him he wants Randall to...</p>
			</div>
		</div>
	</div>
</section>
